@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-fluid {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: rgb(242, 242, 242);
}

.col {
    width: 50%;
    height: 95vh;
    font-family: 'Roboto', Verdana, sans-serif;

}

.icon {
    width: 50px;
    height: 50px;
}

.slogan {
    font-weight: 800;
    font-size: 62px;
}

.join {
    font-size:31px;
    font-weight: 800;

}

.left-column {
    background-image: url('../assets/landpage.png') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
}

.right-column {
    background-color: rgb( 0, 0, 0);
    align-content: center;
}

.center-content {
    margin-top: 35%;
}

.modal {
    margin-top: 35%;
    border-radius: 35px;
}

.modal-header {
    background-color: rgb( 0, 0, 0);
    border-color: rgb( 0, 0, 0);
}

.modal-body {
    background-color: rgb( 0, 0, 0);
    border-color: rgb( 0, 0, 0);
}

.modal-footer {
    background-color: rgb( 0, 0, 0);    
    border-color: rgb( 0, 0, 0);

}

footer {
    background-color: rgb( 0, 0, 0);
}

.site-map {
    display:inline-flex;
    list-style: none;
    text-decoration: none;
}