<div ng-controller="home" class="row landing-page">
   <div class="col left-column"></div>
 
     <div class="col right-column">
         
        <div class="center-content">
          <div  id="icon-container">
            <img class="icon"alt="icon" src="../../assets/twiticon.png">
          </div>
          
          <div class="slogan-container">
            <div class="slogan">
              Happening now
              <br>
            </div>
            <p class="join">Join Twitter today.</p>
            
          </div>
  
          <div class="buttons">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign up</button>
            <button class="btn btn-secondary">Log in</button>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create your account</h5>
                <form ng-click="createAccount()">
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Next</button>
              </div>
              <div class="modal-body">
                  <input type="text" ng-model="username" placeholder="Username">
                  <input type="number"  ng-model="phone" placeholder="Phone">
                  <br>
                  <p class="age">Date of birth</p><br>
                  This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.
                  <select class="selector month-selector" name="month">
                    <option value="month"></option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select>
                  <select class="selector day-selector" name="day">
                    <option value="day"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                  <select class="selector year-selector" name="year">
                    <option value="year"></option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                  </select>
                </form>

              </div>
              <div class="modal-footer">
               
              </div>
            </div>
          </div>
        </div>
    
      </div>
        <footer>
          <ul class="site-map">
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Help Center
              </a>
            </li>
            <li>
              <a href="#">
                Terms of Service
              </a>
            </li>
            <li>
              <a href="#">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="#">
                Cookie Policy
              </a>
            </li>
            <li>
              <a href="#">
                Ads info
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Status
              </a>
            </li>
            <li>
              <a href="#">
                Careers
              </a>
            </li>
            <li>
              <a href="#">
                Brand Resources
              </a>
            </li>
            <li>
              <a href="#">
                Advertising
              </a>
            </li>
            <li>
              <a href="#">
                Marketing
              </a>
            </li>
            <li>
              <a href="#">
                Twitter for Business
              </a>
            </li>
            <li>
              <a href="#">
                Developers
              </a>
            </li>
            <li>
              <a href="#">
                Directory
              </a>
            </li>
            <li>
              <a href="#">
                Settings
              </a>
            </li>
          </ul>
          © 2021 Twitter, Inc.
        </footer> 
</div>