@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background: linear-gradient(90deg, rgba(121,61,9,1) 0%, rgba(121,61,9,1) 39%, rgba(0,212,255,1) 100%);
    width: 90%;
    height: 100%;
}

#pic {
    margin-top:3%;
    margin-left: 35%;
    margin-right:35%;
}

.pic {
    margin-left: 45%;
    margin-right: 25%;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 6px;

}

.title {
    width: 100%;
    font-size: xx-large;
    margin-left: 35%;
    font-family: 'Bangers', cursive;
}

.desc-about {
    width: 100%;
    display:inline-flex;
    border-color: black;
    margin-left: 4%;
    margin-right: 4%;
}

.description {
    background: whitesmoke;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    position: center;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 2;
    padding: 18px;   
}

.hobbies{
    background: whitesmoke;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    position: center;
    margin-left: 20px;
    position:center;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 2;
    padding: 18px; 
    margin-right: 15px;
}
footer {
    margin-top: 150px;
    width: 90%;
    padding-left: 10%;
    padding-right: auto;
    margin-left: 4%;
    margin-right: 4%;
}
video {
    padding: 3%;
    width: 500px;
    height: 240px;
}
