@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-fluid {
    background-color: rgb(0, 0, 0);
    width:100%;
    height:100vh;
    margin: 0;
}

.row {
    width:100%;
    height:100vh;
    margin: 0;  
}

.sidebar-content {
    list-style: none;
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: larger;
    font-weight: 900;
    color: rgb(230, 230, 230)
}

li {
    margin-top: 25px;
}


