@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.landing-page {
  width: 100%;
  height: 100vh;
  margin: 0; }

.col {
  width: 50%;
  height: 95vh; }

.left-column {
  background-image: url("../assets/twitterBackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover; }

.right-column {
  background-color: black; }

input[type="email"], input[type="password"] {
  background-color: black;
  border-color: #595959;
  border-width: .5px;
  height: 55px; }

input[type="email"]:active, input[type="password"]:active {
  background-color: black;
  border-color: #595959;
  border-width: .5px; }

.submit {
  width: 30%;
  border-width: 1px; }

#happrow {
  height: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 5%; }

#icon {
  max-width: 55px;
  max-height: 55px; }

.slogan {
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 62px;
  font-weight: 800;
  color: #e6e6e6; }

.joincon {
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #e6e6e6;
  margin-bottom: 5%; }

.sign {
  font-weight: bold;
  background-color: #33bbff;
  border-color: #33bbff;
  border-width: 0px;
  color: white;
  margin-bottom: 15px;
  border-radius: 30px;
  width: 60%;
  height: 45px;
  align-items: center; }

.modal-header, .modal-body, .modal-footer {
  background-color: black; }

.login {
  font-weight: bold;
  background-color: black;
  border-color: #33bbff;
  border-width: 1px;
  color: #0099ff;
  margin-bottom: 15px;
  border-radius: 30px;
  width: 60%;
  height: 45px;
  align-items: center; }

footer {
  height: 5vh;
  width: 100%;
  background-color: black; }

ul {
  display: inline-flex;
  align-items: center;
  list-style: none; }

li {
  display: inline-flex;
  margin: auto; }
