<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Product</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="../public/javascript/bootstrap.js"></script>
    </head>
    <body>
        <h1>
            <%= pageTitle %>
        </h1>
        <button type="button" class="btn btn-primary">Testing!</button>
        <div class="container">
            <div class="row">
                <% for (let prod of prods) { %>
                    <div class="col-3 card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= prod.imageUrl %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= prod.title %></h5>
                            <p class="card-text">
                                Description: <%= prod.description %>
                                Price: <%= prod.price %>
                            </p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                <% } %>
            </div>
            
        </div>
    </body>
</html>