// @import url('./layout/dash.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.landing-page {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.col {
    width: 50%;
    height: 95vh;
}

.left-column {
    background-image: url('../assets/twitterBackground.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
}

.right-column {
    background-color: rgb( 0, 0, 0);
}

input[type="email"], input[type="password"] {
    background-color: rgb( 0, 0, 0);
    border-color: rgb(89, 89, 89);
    border-width: .5px;
    height: 55px;
}

input[type="email"]:active, input[type="password"]:active {
    background-color: rgb( 0, 0, 0);
    border-color: rgb(89, 89, 89);
    border-width: .5px;
}

.submit {
    width: 30%;
    border-width: 1px;
}


#happrow {
    height: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left:5%;
    // position: inherit;
}

#icon {
    max-width: 55px;
    max-height: 55px;
}

.slogan {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 62px;
    font-weight: 800;
    color: rgb(230, 230, 230);
}

.joincon {
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: rgb(230, 230, 230);
    margin-bottom: 5%;

}

.sign {
    font-weight: bold;
    background-color: rgb(51, 187, 255);
    border-color: rgb(51, 187, 255);
    border-width: 0px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    border-radius: 30px;
    width: 60%;
    height: 45px;
    align-items: center;
}

.modal-header, .modal-body, .modal-footer {
     background-color: rgb(0, 0, 0);
    //  border: none !important;
}

.login {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-color: rgb(51, 187, 255);
    border-width: 1px;
    color: rgb(0, 153, 255);
    margin-bottom: 15px;
    border-radius: 30px;
    width: 60%;
    height: 45px;
    align-items: center;
}

footer {
    height: 5vh;
    width: 100%;
    background-color: black;
}

ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
}

li {

    display: inline-flex; 
    margin:auto;
}
